<header class="header">
  <div class="header-logo">
    <img ngSrc="assets/logo.png" alt="Logo du Coach Sportif" fill>
  </div>
  <nav class="header-navigation">
    <ul class="header-navigation-list">
      <li class="header-navigation-item"><a routerLink="/">Accueil</a></li>
      <li class="header-navigation-item"><a routerLink="/services">Services</a></li>
      <li class="header-navigation-item"><a routerLink="/about">À propos</a></li>
      <li class="header-navigation-item"><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
  <div class="header-auth-actions">
    <button class="header-btn-login">Connexion</button>
  </div>
</header>
