@import 'styles/variables';
@import 'styles/font/stylesheet';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Gotham', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Gotham', sans-serif;
  border-radius: $border-radius-btn;
  margin: 0.5rem;
  padding: 0.5rem 1.4rem;
  border: none;
  cursor: pointer;
  font-size: $font-size-large;
  transition: all 0.3s ease;

  &:hover {
    transform: perspective(1px) scale(1.044) translate(0, 0);
  }
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: normal;

  &:hover {
    cursor: default;
  }
}

h2 {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: normal;

  &:hover {
    cursor: default;
  }
}

h3 {
  font-weight: 900;
  font-size: 2rem;
  line-height: normal;

  &:hover {
    cursor: default;
  }
}

h4 {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: normal;

  &:hover {
    cursor: default;
  }
}
